<div>
    <form id="formPassword">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">Cambiar</button>
    </form>
</div>

<script src="/js/change.js"></script>