<div>
    {{#if role}}
        <div>
            <h3>Cambia tu role Premium a usuario</h3>
            <button id="buttonUsuario" class="button">Usuario</button>

        </div>
    {{else}}

        <div>
            <h3>No eres usuario Premium</h3>
            <button id="buttonPremium" class="button">Premium</button>
        </div>
    {{/if}}
</div>


<script src="/js/changeRole.js"></script>
