<div>
    <h1>Registro</h1>
    <form id="registerForm">

        <label>Nombre</label>
        <input name="first_name">
        <br />
        <label>Apellido</label>
        <input name="last_name">
        <br />
        <label>Email</label>
        <input name="email">
        <br />
        <label>Edad</label>
        <input name="age">
        <br />
        <label>Numero</label>
        <input name="number">
        <br />
        <label>Rol</label>
        <select name="role">
            <option value="Usuario">Usuario</option>
            <option value="Admin">Admin</option>
            <option value="Premium">Premium</option>
        </select>

        <br />
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>
